#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.border-trace {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.border-trace::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 1rem;
  pointer-events: none;
  z-index: 10;
  background:
    linear-gradient(#E26D5A, #E26D5A) top left,
    linear-gradient(#E26D5A, #E26D5A) top right,
    linear-gradient(#E26D5A, #E26D5A) bottom right,
    linear-gradient(#E26D5A, #E26D5A) bottom left;
  background-repeat: no-repeat;
  background-size: 0% 2px, 2px 0%, 0% 2px, 2px 0%;
  background-position: top left, top right, bottom right, bottom left;
  animation: trace-border 4s linear infinite;
}

@keyframes trace-border {
  0% {
    background-size: 0% 2px, 2px 0%, 0% 2px, 2px 0%;
  }
  25% {
    background-size: 100% 2px, 2px 0%, 0% 2px, 2px 0%;
  }
  50% {
    background-size: 100% 2px, 2px 100%, 0% 2px, 2px 0%;
  }
  75% {
    background-size: 100% 2px, 2px 100%, 100% 2px, 2px 0%;
  }
  100% {
    background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
  }
}
